In [1]:
import pandas as pd

In [2]:
version = 'v11'

In [3]:
train_abst = pd.read_excel('./data/paper_train.xlsx')
train_abst = pd.DataFrame(train_abst['abstract'])

val_abst = pd.read_excel('./data/paper_val.xlsx')
val_abst = pd.DataFrame(val_abst['abstract'])

test_abst = pd.read_excel('./data/paper_test.xlsx')
test_abst = pd.DataFrame(test_abst['abstract'])



train_label = pd.read_excel('./data/sae_{}_latent_vector_train.xlsx'.format(version))
train_label = train_label.drop(['Unnamed: 0'], axis=1)

val_label = pd.read_excel('./data/sae_{}_latent_vector_val.xlsx'.format(version))
val_label = val_label.drop(['Unnamed: 0'], axis=1)

test_label = pd.read_excel('./data/sae_{}_latent_vector_test.xlsx'.format(version))
test_label = test_label.drop(['Unnamed: 0'], axis=1)

In [4]:
train_abst

                                               abstract
0     Modbus는 각종 자동화 장비 감시 및 제어에 전 세계적으로 널리 사용되고 있는 ...
1     고속철도의 출현과 함께 철도는 국내외에서 자주 사용하는 교통수단 중 하나이다. 또한...
2     마찰력은 일상생활에서 뉴턴 역학을 이해하는데 매우 중요한 힘임에도불구하고 많은 학생...
3     현재 진행형인 4차 산업혁명 사회는 기존 사회와는 여러 가지 면에서 구분되며, 그 ...
4     최근, 급격한 산업화로 인한 급속한 기후변화가 생태 보전 및 생물 다양성에 부정적인...
...                                                 ...
2800  딥러닝에 기반 한 인공지능과 다양한 센서기술의 발전이 빠르게 진행되면서 운전자 없이...
2801  본 연구는 콜버그 도덕·윤리교육의 ``정의 공동체 접근법``을 공학윤리교육에 적용하...
2802  인공지능 로봇이 사회적, 정서적 상호작용의 대상으로서 사람들의 일상적 공간 안으로 ...
2803  인공지능 로봇과 연관된 기술의 발전 속도가 빨라짐에 따라 기존에 인간에 의해서만 이...
2804  현재 전세계 배터리 시장은 이차전지 개발에 박차를 가하고 있는 실정이지만, 실제로 ...

[2805 rows x 1 columns]

In [5]:
val_abst

                                              abstract
0    로지스틱 회귀분석은 통계학 등의 분야에서 예측을 위한 기술 혹은 변수 간의 상관관계...
1    최근에 이르러, 기계학습 및 데이터마이닝은 수많은 질병 예측 및 진단에 활용되고 있...
2    가상발전소 시장에 전력을 안정적으로 공급하기 위해서는 발전량에 대한 정확한 예측이 ...
3    문서 자동 요약은 주어진 문서로부터 주요 내용을 추출하거나 생성하는 방식으로 축약하...
4    최근 소프트웨어와 인공지능 교육이 점차 중요하게 다루어지면서 2019년 12월 과학...
..                                                 ...
930  인간의 특성과 관련된 측정 항목을 나타내는 생체정보는 도난이나 분실의 염려가 없으므...
931  제4차 산업혁명이 도래하면서 인공지능 로봇은 다양한 영화 및 드라마에서 다른 캐릭터...
932  초등학교 소프트웨어 교육에서는 간단한 문제해결 과정을 통하여 프로그래밍 과정을 경험...
933  사물인터넷(IoT) 제품 등의 보안이 허술해 각종 해킹 사고가 발생하고 있다. 보안...
934  이 글은 북한의 4차 산업혁명에 대한 대응전략과 추진방식, 그리고 일부 성과들을  ...

[935 rows x 1 columns]

In [6]:
test_abst

                                              abstract
0    인류는 1800년대 1차 산업혁명을 거치면서 급격하게 변화하고 성장하였다. 약 20...
1    본 연구는 Deep Neural Network(DNN)을 이용하여 광주-기아 챔피언...
2    오늘날 기업이 급변하는 글로벌 경영 환경에 민첩하게 대응하기 위해서는 기업 구성원 ...
3    도시에서 홍수 피해를 방지하기 위한 침수를 예측하기 위해 본 논문에서는 딥러닝(De...
4    컴퓨터가 실생활에서 많이 사용됨에 따라, 악성코드(malware)를 만들어 악의적인...
..                                                 ...
930  포스트 휴머니즘의 한 갈래로서 트랜스 휴머니즘은 ‘의지적 진화’에 의한 인간의 개선...
931  4차 산업혁명 진전되는 인공지능 시대 노동법제 논의가 필요한 과제는 다음과 같다.첫...
932  본 연구는 현대 패션쇼에 나타난 포스트휴먼의 내적 특성에 관한 연구이다. 연구의 목...
933  제4차 산업혁명이라는 유행어가 잘 보여주는 것처럼 현대 과학기술은 사회구조 및 사고...
934  (연구배경 및 목적) 생활 방식 변화로 1인 가구의 증가율은 전 연령대에서 지속해서...

[935 rows x 1 columns]

In [7]:
train_label

             0          1         2    3
0     0.047737   0.171397  0.000000  0.0
1     2.231616  11.310246  7.162324  0.0
2     0.485313   3.555387  2.053180  0.0
3     0.013104   0.317197  0.004629  0.0
4     0.921993   2.049818  1.650398  0.0
...        ...        ...       ...  ...
2800  0.027227   0.375189  0.068520  0.0
2801  0.025610   0.557646  0.177853  0.0
2802  0.021741   0.268462  0.000000  0.0
2803  0.053041   0.191645  0.000000  0.0
2804  1.415787   3.634706  2.939131  0.0

[2805 rows x 4 columns]

In [8]:
val_label

            0          1          2    3
0    0.077944   0.722975   0.283627  0.0
1    0.542288   2.041675   1.360260  0.0
2    2.974928  10.289680   7.802916  0.0
3    0.964579   8.398924   4.973603  0.0
4    0.016316   0.449402   0.100888  0.0
..        ...        ...        ...  ...
930  7.694154  25.681116  17.629829  0.0
931  0.053041   0.191645   0.000000  0.0
932  0.017458   0.274891   0.000000  0.0
933  0.000000  15.056479   0.000000  0.0
934  0.013104   0.317197   0.004629  0.0

[935 rows x 4 columns]

In [9]:
test_label

            0          1          2         3
0    0.000000  26.382292   0.000000  0.000000
1    2.725519   5.070207   4.525342  0.016759
2    0.000000   3.320733   0.024585  0.000000
3    7.694153  25.681116  17.629826  0.000000
4    2.007301   9.917755   6.729792  0.000000
..        ...        ...        ...       ...
930  0.025674   0.388729   0.078007  0.000000
931  0.013042   0.311098   0.000000  0.000000
932  0.008042   0.343996   0.030561  0.000000
933  0.030853   0.381226   0.073863  0.000000
934  0.000000   7.480296   0.491818  0.000000

[935 rows x 4 columns]

In [10]:
train = pd.concat([train_abst, train_label], axis=1)
train

,abstract,0,1,2,3
0,Modbus는 각종 자동화 장비 감시 및 제어에 전 세계적으로 널리 사용되고 있는 ...,0.047737,0.171397,0.000000,0.0
1,고속철도의 출현과 함께 철도는 국내외에서 자주 사용하는 교통수단 중 하나이다. 또한...,2.231616,11.310246,7.162324,0.0
2,마찰력은 일상생활에서 뉴턴 역학을 이해하는데 매우 중요한 힘임에도불구하고 많은 학생...,0.485313,3.555387,2.053180,0.0
3,"현재 진행형인 4차 산업혁명 사회는 기존 사회와는 여러 가지 면에서 구분되며, 그 ...",0.013104,0.317197,0.004629,0.0
4,"최근, 급격한 산업화로 인한 급속한 기후변화가 생태 보전 및 생물 다양성에 부정적인...",0.921993,2.049818,1.650398,0.0
...,...,...,...,...,...
2800,딥러닝에 기반 한 인공지능과 다양한 센서기술의 발전이 빠르게 진행되면서 운전자 없이...,0.027227,0.375189,0.068520,0.0
2801,본 연구는 콜버그 도덕·윤리교육의 ``정의 공동체 접근법``을 공학윤리교육에 적용하...,0.025610,0.557646,0.177853,0.0
2802,"인공지능 로봇이 사회적, 정서적 상호작용의 대상으로서 사람들의 일상적 공간 안으로 ...",0.021741,0.268462,0.000000,0.0
2803,인공지능 로봇과 연관된 기술의 발전 속도가 빨라짐에 따라 기존에 인간에 의해서만 이...,0.053041,0.191645,0.000000,0.0
2804,"현재 전세계 배터리 시장은 이차전지 개발에 박차를 가하고 있는 실정이지만, 실제로 ...",1.415787,3.634706,2.939131,0.0

In [11]:
val = pd.concat([val_abst, val_label], axis=1)
val

,abstract,0,1,2,3
0,로지스틱 회귀분석은 통계학 등의 분야에서 예측을 위한 기술 혹은 변수 간의 상관관계...,0.077944,0.722975,0.283627,0.0
1,"최근에 이르러, 기계학습 및 데이터마이닝은 수많은 질병 예측 및 진단에 활용되고 있...",0.542288,2.041675,1.360260,0.0
2,가상발전소 시장에 전력을 안정적으로 공급하기 위해서는 발전량에 대한 정확한 예측이 ...,2.974928,10.289680,7.802916,0.0
3,문서 자동 요약은 주어진 문서로부터 주요 내용을 추출하거나 생성하는 방식으로 축약하...,0.964579,8.398924,4.973603,0.0
4,최근 소프트웨어와 인공지능 교육이 점차 중요하게 다루어지면서 2019년 12월 과학...,0.016316,0.449402,0.100888,0.0
...,...,...,...,...,...
930,인간의 특성과 관련된 측정 항목을 나타내는 생체정보는 도난이나 분실의 염려가 없으므...,7.694154,25.681116,17.629829,0.0
931,제4차 산업혁명이 도래하면서 인공지능 로봇은 다양한 영화 및 드라마에서 다른 캐릭터...,0.053041,0.191645,0.000000,0.0
932,초등학교 소프트웨어 교육에서는 간단한 문제해결 과정을 통하여 프로그래밍 과정을 경험...,0.017458,0.274891,0.000000,0.0
933,사물인터넷(IoT) 제품 등의 보안이 허술해 각종 해킹 사고가 발생하고 있다. 보안...,0.000000,15.056479,0.000000,0.0
934,"이 글은 북한의 4차 산업혁명에 대한 대응전략과 추진방식, 그리고 일부 성과들을 ...",0.013104,0.317197,0.004629,0.0

In [12]:
test = pd.concat([test_abst, test_label], axis=1)
test

,abstract,0,1,2,3
0,인류는 1800년대 1차 산업혁명을 거치면서 급격하게 변화하고 성장하였다. 약 20...,0.000000,26.382292,0.000000,0.000000
1,본 연구는 Deep Neural Network(DNN)을 이용하여 광주-기아 챔피언...,2.725519,5.070207,4.525342,0.016759
2,오늘날 기업이 급변하는 글로벌 경영 환경에 민첩하게 대응하기 위해서는 기업 구성원 ...,0.000000,3.320733,0.024585,0.000000
3,도시에서 홍수 피해를 방지하기 위한 침수를 예측하기 위해 본 논문에서는 딥러닝(De...,7.694153,25.681116,17.629826,0.000000
4,"컴퓨터가 실생활에서 많이 사용됨에 따라, 악성코드(malware)를 만들어 악의적인...",2.007301,9.917755,6.729792,0.000000
...,...,...,...,...,...
930,포스트 휴머니즘의 한 갈래로서 트랜스 휴머니즘은 ‘의지적 진화’에 의한 인간의 개선...,0.025674,0.388729,0.078007,0.000000
931,4차 산업혁명 진전되는 인공지능 시대 노동법제 논의가 필요한 과제는 다음과 같다.첫...,0.013042,0.311098,0.000000,0.000000
932,본 연구는 현대 패션쇼에 나타난 포스트휴먼의 내적 특성에 관한 연구이다. 연구의 목...,0.008042,0.343996,0.030561,0.000000
933,제4차 산업혁명이라는 유행어가 잘 보여주는 것처럼 현대 과학기술은 사회구조 및 사고...,0.030853,0.381226,0.073863,0.000000
934,(연구배경 및 목적) 생활 방식 변화로 1인 가구의 증가율은 전 연령대에서 지속해서...,0.000000,7.480296,0.491818,0.000000

In [13]:
train.to_excel('./data/sae_{}_train.xlsx'.format(version))
val.to_excel('./data/sae_{}_val.xlsx'.format(version))
test.to_excel('./data/sae_{}_test.xlsx'.format(version))